<div id="container">
    <h1>Welcome to the fight app!</h1>
    <h4 *ngFor="let number of data" >{{number.fights}} fights served since 18.3.2019</h4>
    <div id="text">
        <p>This app is developed to keep couples, friends and coworkers happy with eachother.</p>
        <p>Please share information about this app to your friends, spouses, coworkers, etc.</p>
        <p>Developed in Finland in 2019, no-one was hurt during the process of making this app.</p><br>
        <h3>We are open for business!</h3>
        <p>If you would like to add your restaurant to our list, contact our Salesmanager Anssi via phone 040 123 4567</p>
    </div>
</div>